@partLayoutImageDir: "@{basePartImageDir}layout/";
#top-banner-area{
	width: 100%;
	//height: 130px;
	height: 0;
	overflow: hidden;
	background-color: #e9e9e9;
	-webkit-transition: height ease-in-out 0.8s;
	-moz-transition: height ease-in-out 0.8s;
	-ms-transition: height ease-in-out 0.8s;
	-o-transition: height ease-in-out 0.8s;
	transition: height ease-in-out 0.8s;
	
	&.on,
	&.active{
		height: 130px;
	}
	
	.container{
		ul{
			li{
				width: 50%;
				padding: 30px 20px 0;
				height: 130px;
				
				.img-box{
					
				}
				dl{
					dt{
						
					}
					dd{
						
					}
				}
				
				a{
					
					.icon{
						
					}
				}
			}
		}
		.top-banner-button-group{
			
			*{
				
			}
			
			
		}
	}
}


#footer{
	
}


/* Sitemap */
body>.sitemap{
	
	.bg{
		
	}
	.cont{
		
		>div{
			
			h2{
				
				strong{
					
				}
			}
			>div{
				margin-top: 11px;
				
				>ul{
					&:after{
						clear: both;
						display: block;
						content: '';
					}
					
					>li{
						border-top: 1px solid #2a2d33;
						padding-bottom: 10px;
						display: block;
						width: 50%;
						float: left;
						
						&:first-child,
						&:nth-of-type(2){
							border-top: none;
						}
						
						>a{
							
						}
						&:hover, &:focus,
						&.active{
							>a{
								color: #ab8f73;
							}
						}
						>ul{
							>li{
								>a{
									
								}
								&:hover, &:focus,
								&.active{
									>a{
										
									}
								}
								>ul{
									
								}
							}
						}
					}
				}
			}
		}
	}
	.close-sitemap{
		
	}
	&.active{
		.bg{
			#util>.opacity(.7);
		}
		.cont{
			left: 0;
		}
		.close-sitemap{
			left: 0;
		}
	}
	
}