@partPagesImageDir: "@{basePartImageDir}pages/";

@baseClean: #ffffff;
@baseBg: #f5f5f5;

@fontBase: #444444;
@fontDark: #333333;
@fontGray: #888888;
@fontLightGray: #b2b2b2;
@fontClean: #ffffff;
@fontPointBlue: #0f4c9a;

@pointDarkBlue: #0f4c9a;
@pointBlue: #2691e3;
@pointPastelBlue: #27567d;
@pointPastelSky: #0abccd;
@pointPastelPink: #ff5a6c;
#content{
	h3,h4,h5,h6{
		margin: 0;
	}
	p{
		margin: 0;
		font-size: 12px;
		line-height: 20px;
	}
}

.point-db{
	color: @pointDarkBlue;
	.normal{
		font-weight: normal;
		color: @fontBase;
	}
}

/* table-primary */
@table-primary-font: #333333; @table-primary-border: #cecece; @table-primary-border-top: #0f4c9a; @table-primary-thead: #fff;
.table-primary {
	border-collapse: collapse;
	border-top: 2px solid @table-primary-border-top;
	table-layout: auto;
	width: 100%;
	margin-top: 5px;
	thead{
		background-color: @table-primary-thead;
		border-bottom: 2px solid @table-primary-border;
		th{
			font-weight: bold;
			font-size: 12px;
		}
	}
	th,td{
		border-left: 1px solid @table-primary-border;
		border-bottom: 1px solid @table-primary-border;
		&:first-child{
			border-left: none;
		}
	}
	th {
		color: @table-primary-font;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.4em;
		padding: 10px 6px 8px;
		text-align: center;
		vertical-align: middle;
	}
	td {
		color: @table-primary-font;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.4em;
		padding: 6px 6px 4px;
		text-align: center;
		vertical-align: middle;
		font-size: 12px;
	}
	
	&.last-left{
		tbody{
			tr{
				th,td{
					&:last-child{
						text-align: left;
						
					}
				}
			}
		}
	}
	&.text-left{
		tbody{
			tr{
				th,td{
					text-align: left;
					padding-left: 15px;
				}
			}
		}
	}
	&.text-left-even{
		tbody{
			tr{
				th,td{
					&:nth-child(even){
						text-align: left;
						padding-left: 15px;
					}
				}
			}
		}
	}
}
.table-title{
	padding: 25px 0 15px;
	font-size: 14px;
	color: #444;
	font-weight: bold;
}

/* design-box */
@design-box-title: #fff;
@design-box-: #333333;
@design-box-: #cecece;
@design-box-: #0f4c9a;

.design-box{
	position: relative;
	
	&.has-side{
		padding-left: 85px;
		
		.side-title{
			position: absolute;
			left: 0;
			top: 0;
			width: 80px;
			height: 100%;
			display: table-row;
			border-radius: 10px 10px 0 0;
			background-color: #0abccd;
			text-align: center;
			
			&:before{
				display: inline-block;
				content: '';
				width: 1px;
				height: 100%;
				vertical-align: middle;
			}
			span{
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				color: @design-box-title;
				font-size: 14px;
			}
		}
	}
	
	.main-content{
		border-radius: 10px 10px 0 0;
		overflow: hidden;
		
		
		
		
	}
}

/* table-design-box */
.table-design-box{
	width: 100%;
	
	border-bottom: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	
	thead{
		tr{
			th,td{
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 14px;
				height: 35px;
				vertical-align: middle;
			}
			th{
				
			}
			td{
				
			}
		}
	}
	tbody{
		
		tr{
			th,td{
				border-left: 1px solid #d9d9d9;
				border-top: 1px solid #d9d9d9;
				height: 70px;
				vertical-align: middle;
			}
			th{
				background-color: #fff;
				color: #333;
				font-size: 14px;
				font-weight: bold;
				text-align: center;
			}
			td{
				padding: 10px 5px;
				font-size: 12px;
				ul{
					li{
						
					}
				}
			}
		}
	}
	
	&.road-map{
		tbody{
			tr {
				th, td {
					text-align: center;
					background-color: #fff;
					position: relative;
				}
			}
		}
		.next-icon{
			tr{
				th,td {
					position: relative;
					
					&:after{
						clear: both;
						display: block;
						content: '';
						width: 29px;
						height: 29px;
						background: url(../images/part/layout-page/road-map.png) 50% 50% no-repeat;
						position: absolute;
						left: -15px;
						top: 50%;
						margin-top: -14px;
					}
					&:first-child{
						&:after{
							display: none;
						}
					}
				}
			}
		}
	}
}




.push-left{
	position: relative;
	padding: 0 0 0 280px;
}

.left-title{
	position: absolute;
	left: 0;
	top: 0;
	max-width: 280px;
	letter-spacing: -5px;
	font-size: 40px;
	line-height: 50px;
	
	.under-line{
		display: inline-block;
		&:after{
			display: block;
			content: '';
			width: 100%;
			height: 2px;
			background-color: #000;
		}
	}
	.type-block{
		clear: both;
		display: block;
		
	}
	[class^="icon-"]{
		clear: both;
		display: block;
		content: '';
		width: 140px;
		height: 200px;
		padding-top: 40px;
	}
	.icon-board{
		background: url(../images/part/layout-page/icon-board.png) 0 40px  no-repeat;
	}
	.icon-tablet{
		background: url(../images/part/layout-page/icon-tablet.png) 0 40px no-repeat;
	}
	.icon-write{
		background: url(../images/part/layout-page/icon-write.png) 0 40px no-repeat;
	}
	.icon-down{
		background: url(../images/part/layout-page/icon-down.png) 0 40px no-repeat;
	}
	
}

.page-pre{
	font-size: 16px;
	color: @fontBase;
	line-height: 23px;
	padding-bottom: 25px;
	border-bottom: 2px solid @pointDarkBlue;
	
	&.first-letter{
		position: relative;
		padding-left: 50px;
		min-height: 50px;

		.first{
			display: inline-block;
			padding: 10px 5px;
			margin-top: 5px;
			font-size: 34px;
			color: @fontClean;
			background-color: @pointDarkBlue;
			border-radius: 5px;
			position: absolute;
			vertical-align: middle;
			left: 0;
			top: -1px;
		}
	}
}

.point-title{
	padding-top: 30px;
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: bold;
	color: @fontPointBlue;
}

.list-style{
	padding-left: 10px;
	text-indent: -10px;
	
	&.doted{
		padding-left: 20px;
		text-indent: -0px;
		
		li{
			position: relative;
			font-size: 12px;
			
			&:after{
				position: absolute;
				left: -10px;
				top: 7px;
				clear: both;
				display: block;
				content: '';
				width: 2px;
				height: 2px;
				background: #555;
				border-radius: 50%;
			}
		}
	}
}
.btn{
	
	&.btn-download{
		position: relative;
		font-size: 16px;
		color: #333;
		padding: 15px 16px 15px 45px;
		background-color: #fff;
		border-radius: 5px;
		border-bottom: 1px solid #999;
		
		.icon-next{
			position: absolute;
			left: 15px;
			top: 15px;
		}
	}
	
}
.icon-next{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background: url(../images/part/layout-page/icon-next.png) 50% 50% no-repeat;
	
}
.next-part-30{
	padding-top: 30px;
}
.next-part-20{
	padding-top: 20px;
}

ol.bizcool{
	li{
		a{
			.img-box{
				img{
					
				}
				.text{
					img{
						
					}
				}
			}
			.pre-box{
				.biz-tit{
					
				}
				p{
					
				}
				.btn-detail{
					
				}
			}
		}
	}
}