/* icon */
.icon{
	display: inline-block;
	vertical-align: middle;
	
	&.icon-phone{
		width: 82px;
		height: 83px;
		background: url(../images/part/layout-page/icon-phone.png) 50% 50% no-repeat;
	}
	&.icon-ipin{
		width: 82px;
		height: 83px;
		background: url(../images/part/layout-page/icon-ipin.png) 50% 50% no-repeat;
	}
	&.icon-phone-small{
		width: 64px;
		height: 63px;
		background: url(../images/part/layout-page/icon-phone-small.png) 50% 50% no-repeat;
	}
	&.icon-ipin-small{
		width: 64px;
		height: 63px;
		background: url(../images/part/layout-page/icon-ipin-small.png) 50% 50% no-repeat;
	}
	&.icon-people{
		width: 92px;
		height: 93px;
		background: url(../images/part/layout-page/icon-people.png) 50% 50% no-repeat;
	}
	&.icon-question{
		width: 20px;
		height: 20px;
		background: url(../images/part/layout-page/icon-question.png) 50% 50% no-repeat;
	}
}
