/* title style */
@fontBase: #444444;
@fontClean: #ffffff;
@pointDarkBlue: #0f4c9a;

.content-left-title{
	display: none;
	
	img{
		
	}
}
.left-title{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	max-width: 280px;
	letter-spacing: -5px;
	font-size: 40px;
	line-height: 50px;
	min-width: 280px;
	
	
	&.fz34{
		font-size: 34px;
		line-height: 44px;
	}
	
	strong{
		.normal{
			font-weight: normal;
			color: @fontBase;
			&.fwb{
				font-weight: bold;
			}
		}
	}
	.under-line{
		display: inline-block;
		&:after{
			display: block;
			content: '';
			width: 100%;
			height: 2px;
			background-color: #000;
		}
	}
	.type-block{
		clear: both;
		display: block;
		
	}
}

.point-title{
	padding-top: 30px;
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: bold;
	color: @fontPointBlue;
}

.board-title{
	position: relative;
	display: block;
	height: 45px;
	line-height: 45px;
	background-color: @pointDarkBlue;
	overflow: hidden;
	
	strong{
		font-size: 14px;
		color: @fontClean;
		font-weight: normal;
	}
	*{
		padding-left: 62px;
	}
	&.list-type{
		background: @pointDarkBlue url(../images/part/layout-page/bg-list-type.jpg) 0 0 no-repeat;
	}
	&.detail-type{
		background: @pointDarkBlue url(../images/part/layout-page/bg-detail-type.jpg) 0 0 no-repeat;
	}
	
	.btn-popup_close{
		display: inline-block;
		height: 45px;
		width: 45px;
		background: url(../images/part/layout-page/btn-popup_close.png) 50% 50% no-repeat;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.way-title{
	display: inline-block;
	width: 285px;
	height: 77px;
	background: url(../images/part/layout-page/way-title.png) 0 0 no-repeat;
}
.move-title{
	display: inline-block;
	width: 407px;
	height: 76px;
	background: url(../images/part/content/advice/move/move-title.png) 0 0 no-repeat;
}