<table class="table-primary __se_tbl_ext">
	<thead>
	<tr>
		<th style="width: 20%;">연도</th>
		<th>내용</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td class="bdln">1980년</td>
		<td class="text-left">상경계열 신설<br>
			경제(40), 경영(40), 무역(40), 회계(40) 4학과 설치</td>
	</tr>
	<tr>
		<td class="bdln">1984년</td>
		<td class="text-left">상경계열 승격<br>
			법과계열, 상경계열 법상대학으로</td>
	</tr>
	<tr>
		<td class="bdln">1988년</td>
		<td class="text-left">보험경영학과(40) 설치</td>
	</tr>
	<tr>
		<td class="bdln">1989년</td>
		<td class="text-left">대학분리<br>
			법학대학, 경상대학 법상대학을 경상대학으로</td>
	</tr>
	<tr>
		<td class="bdln">1995년</td>
		<td class="text-left">경제경영학부로 통합<br>
			경제학부, 경영학부, 경제, 경영, 무역, 회계, 보험경영</td>
	</tr>
	<tr>
		<td class="bdln">2001년</td>
		<td class="text-left">대학명칭 및 학부명칭 변경<br>
			ㆍ경상대학 → 디지털경제경영대학<br>
			ㆍ경제학부 → 디지털경제학부<br>
			ㆍ경영학부 → 디지털경영학부<br>
			대학원학과신설<br>
			ㆍ디지털경제정책학과<br>
			ㆍe-비지니스경영학과</td>
	</tr>
	<tr>
		<td class="bdln">2003년</td>
		<td class="text-left">03 학부학과 신설<br>
			ㆍ보험계리학과<br>
			ㆍ회계세무학과</td>
	</tr>

	<tr>
		<td class="bdln">2005년</td>
		<td class="text-left">대학명칭 및 학부명칭 변경<br>
			ㆍ디지털경제경영대학 → 경상대학<br>
			ㆍ디지털경제학부 → 경제학부<br>
			ㆍ디지털경영학부 → 경영학부</td>
	</tr>
	<tr>
		<td class="bdln">2008년</td>
		<td class="text-left">08 경영학부 류태수 교수 학장 취임<br>
			12 대교협평가 경제학분야 최우수 선정</td>
	</tr>
	<tr>
		<td class="bdln">2009년</td>
		<td class="text-left">09 일반대학원 학과 명칭 변경 <br>
			: e-Business 경영학과 -&gt; 경영컨설팅학과</td>
	</tr>
	<tr>
		<td class="bdln">2010년</td>
		<td class="text-left">04 (사) 학국경영교육인증원 경영학부 경영학교육인증 획득<br>
			08 경영학부 원석희 교수 학장 취임<br>
			09 행정고시반 설립(지도교수 : 경제학부 윤성호 교수)</td>
	</tr>
	<tr>
		<td class="bdln">2011년</td>
		<td class="text-left">03 경제학부 임덕호 교수 총장 취임</td>
	</tr>
	<tr>
		<td class="bdln">2012년</td>
		<td class="text-left">03 기업경영대학원 신설 <br>
			: 산업경영디자인대학원 정원 135명에서 경영학 전공 50명으로 분리 <br>
			08 경제학부 사공진 교수 학장 취임</td>
	</tr>
	<tr>
		<td class="bdln">2013년</td>
		<td class="text-left">2013년도 BSC 평가 우수대학 선정<br>
			2013년도 학과평가 경영학부 최우수학과, 경제학부 3위 선정<br>
			2013년 보험계리학과, 회계세무학과 신설
		</td>
	</tr>
	<tr>
		<td class="bdln">2014년</td>
		<td class="text-left">08 경영학부 심원술 교수 학장 취임</td>
	</tr>
	<tr>
		<td class="bdln">2015년</td>
		<td class="text-left">03 기업경영대학원 최고경영자과정(AMP) 신설</td>
	</tr><tr>
		<td class="bdln">2016년</td>
		<td class="text-left">09 경영학부 박광호 교수 학장 취임</td>
	</tr>
	</tbody>
</table>
